html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 
	margin: 0 
	padding: 0 
h1, h2, h3, h4, h5, h6 
	font-size: 100% 
	font-weight: normal 
ul 
	list-style: none 
button, input, select 
	margin: 0 
html 
	box-sizing: border-box 
*, *::before, *::after 
	box-sizing: inherit 
img, video 
	height: auto 
	max-width: 100% 
iframe 
	border: 0 
table 
	border-collapse: collapse 
	border-spacing: 0 
td, th 
	padding: 0 
.explore-button 
	background: linear-gradient(to bottom right, #FF79DA, #9356DC) 
	text-decoration: none 
	border-radius: 50px 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12) 
	font-family: "Roboto" 
	font-weight: 400 
	padding: 1rem 2rem 
	color: white 
	&:hover 
		background: linear-gradient(to bottom right, #9356DC, #FF79DA) 
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12) 
.order-button 
	background: linear-gradient(to bottom right, #FF79DA, #9356DC) 
	text-decoration: none 
	border-radius: 50px 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12) 
	font-family: "Roboto" 
	font-weight: 400 
	font-size: 18px 
	padding: 1rem 3rem 
	color: white 
	&:hover 
		background: linear-gradient(to bottom right, #9356DC, #FF79DA) 
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12) 
.restaurant-card 
	display: flex 
	flex-direction: column 
	position: relative 
	overflow: hidden 
	border-radius: 20px 
	text-decoration: none 
	background: white 
	height: 250px 
	width: 100% 
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.08) 
	.restaurant-card-down-area 
		display: flex 
		flex-direction: row 
		padding: 0.75rem 1rem 
		justify-content: space-between 
		align-items: center 
		.restaurant-card-txt 
			display: flex 
			flex-direction: column 
			height: 100% 
			color: black 
			font-family: "Roboto" 
			.card-txt-medium 
				font-size: 14px 
		.restaurant-card-heart 
			font-size: 1.4rem 
			color: #353535 
	.restaurant-card-new 
		position: absolute 
		background: #99e2d0 
		color: #008766 
		top: 1rem 
		right: 1rem 
		padding: 0.4rem 0.6rem 
		font-family: "Roboto" 
		font-size: 0.8rem 
		font-weight: 700 
	&:hover 
		transform: scale(1.02) 
		transition: transform ease-in-out 200ms 
		box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08), 0 10px 10px rgba(0, 0, 0, 0.08) 
@media 
	screen 
		and 
			(min-width 
				&: 
					768px) 
						.restaurant-card {
      display: flex 
						justify-content: center 
						flex: 1 
						.goal-txt {
      display: flex 
						justify-content: center 
						h2 {
      display: flex 
						justify-content: center 
					1440px) 
						footer {
      display: flex 
						justify-content: space-between 
						footer ul {
      display: flex 
						flex-direction: row 
						.restaurant-page-body {
      flex-direction: row 
					1024px) 
						.responsive-card {
      max-width: 768px 
						margin: 1rem auto 
						border-radius: 1rem 
						box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 40px 40px rgba(0, 0, 0, 0.25) 
						.goal {
      flex-direction: row 
						flex: 1 
						justify-content: center 
						.restaurants {
      grid-template-columns: repeat(2, 1fr) 
} 
	.restaurant-card 
		.restaurant-card-img 
			object-fit: cover 
			height: calc(100% - 60px) 
			width: 100% 
	@keyframes 
		transition 
			100% {
      z-index: 0 
			opacity: 0 
		size 
			100% {
      width: 0 
			height: 0 
	#header-logo 
		position: relative 
		left: 50% 
		transform: translateX(-50%) 
		margin: 1rem 0 
	@media 
		screen 
			and 
				(min-width 
					&: 
						1024px) 
							footer {
      border-bottom-left-radius: 1rem 
							border-bottom-right-radius: 1rem 
						1440px) 
							.responsive-card {
      max-width: 1280px 
							margin: 1rem auto 
							border-radius: 1rem 
							box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 40px 40px rgba(0, 0, 0, 0.25) 
							.restaurants {
      grid-template-columns: repeat(4, 1fr) 
	footer 
		ul 
			display: flex 
			flex-direction: column 
			gap: 10px 
			font-family: "Roboto" 
			font-weight: 400 
			color: white 
			.footer-li 
				display: flex 
				gap: 10px 
	.localisation 
		display: flex 
		justify-content: center 
		padding: 1rem 
		gap: 1rem 
		background: #eaeaea 
		box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1) 
	.goal 
		display: flex 
		flex-direction: column 
		align-items: center 
		padding: 2rem 2rem 
		gap: 2rem 
		.goal-btn 
			display: flex 
			align-items: center 
			gap: 1rem 
			padding: 1.2rem 1.2rem 1.2rem 0 
			background: #f6f6f6 
			text-decoration: none 
			border-radius: 25px 
			width: 280px 
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08) 
	h2 
		font-family: "Roboto" 
		font-weight: 700 
		font-size: 1.5rem 
		width: 100% 
		background-color: #f6f6f6 
		padding: 2rem 2rem 0 2rem 
	.restaurant-img-bg 
		object-fit: cover 
		height: 300px 
		width: 100% 
	.restaurant-page-titre 
		font-family: "Roboto" 
		font-weight: 300 
h4 
	font-weight: 700 
	font-size: 18px 
.card-food 
	display: flex 
	justify-content: space-between 
	height: 65px 
	overflow: hidden 
	margin-top: 1rem 
	background-color: white 
	border-radius: 20px 
	font-family: "Roboto" 
	cursor: pointer 
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04), 0 4px 4px rgba(0, 0, 0, 0.04) 
	&:hover 
		.card-food-anim 
			margin-right: 0px 
		.fa-check-circle 
			transform: rotate(0deg) 
.card-food-description 
	width: 100% 
	overflow: hidden 
	white-space: nowrap 
	padding: 0.8rem 
	text-overflow: ellipsis 
.card-food-meal-txt 
	overflow: hidden 
	text-overflow: ellipsis 
h3 
	font-size: 18px 
	font-weight: 700 
	overflow: hidden 
	text-overflow: ellipsis 
	width: 100% 
.card-food-price 
	display: flex 
	align-items: flex-end 
	flex-shrink: 0 
	font-weight: 700 
	padding: 0.8rem 1rem 0.8rem 0 
.card-food-anim 
	display: flex 
	flex-direction: row 
	flex-wrap: nowrap 
	justify-content: center 
	align-items: center 
	height: 100% 
	background-color: #99e2d0 
	color: white 
	width: 60px 
	margin-right: -60px 
	transition: margin-right 500ms ease-in-out 
.fa-check-circle 
	transition: 800ms ease-in-out 
	transform: rotate(-180deg) 
.home-heart 
	position: relative 
	height: 1.4rem 
	overflow: hidden 
	width: 25px 
	&:hover 
		.home-span-heart 
			max-height: 1.4rem 
		.home-heart2 
			transform: translateY(0) 
.home-heart1 
	position: absolute 
	bottom: 0 
	font-size: 1.4rem 
	color: #353535 
.home-span-heart 
	max-height: 0 
	transition: max-height 1s ease-in-out 
	overflow: hidden 
	position: absolute 
	bottom: 0 
	left: 0 
	z-index: 2 
.home-heart2 
	position: relative 
	transform: translateY(-100%) 
	transition: transform 1s ease-in-out 
	font-size: 1.4rem 
	color: #FF79DA 
.rpt-heart 
	position: relative 
	height: 2rem 
	overflow: hidden 
	width: 40px 
	&:hover 
		.rpt-span-heart 
			max-height: 2rem 
		.restaurant-heart2 
			transform: translateY(0) 
.restaurant-heart1 
	position: absolute 
	bottom: 0 
	font-size: 2rem 
	color: black 
.rpt-span-heart 
	max-height: 0 
	transition: max-height 1s ease-in-out 
	overflow: hidden 
	position: absolute 
	bottom: 0 
	left: 0 
	z-index: 2 
.restaurant-heart2 
	position: relative 
	transform: translateY(-100%) 
	transition: transform 1s ease-in-out 
	color: #FF79DA 
	font-size: 2rem 
@keyframes 
	hover 
		0% {
      transform: scale(0.7) 
		color: #353535 
		-webkit-text-stroke: 2px gray 
	SlideUp 
		0% {
      transform: translateY(-10%) 
		opacity: 0 
20% 
	transform: scale(1) 
	color: #FF79DA 
	-webkit-text-stroke: 3px #FF79DA 
	filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 3px #FF79DA) drop-shadow(0 0 5px #FF79DA) 
40% 
	transform: scale(1) 
	color: #99e2d0 
	-webkit-text-stroke: 3px #99e2d0 
	filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 3px #99e2d0) drop-shadow(0 0 5px #99e2d0) 
80% 
	transform: scale(0.7) 
	color: #9356DC 
	-webkit-text-stroke: 2px gray 
.header-restaurant 
	display: flex 
	flex-direction: row 
	align-items: center 
	justify-content: center 
	padding: 0.5rem 1rem 
	position: relative 
	.left-arrow 
		position: absolute 
		left: 1rem 
		text-decoration: none 
	.title-header 
		font-family: "Shrikhand" 
		font-weight: 400 
		font-size: 2rem 
.header-restaurant .left-arrow:link, .header-restaurant .left-arrow:visited 
	color: black 
footer 
	background: #353535 
	padding: 2rem 
.logo-footer 
	filter: brightness(2000%) 
	height: 16px 
	margin-bottom: 1rem 
.footer-icon 
	width: 16px 
	font-size: 14px 
.hand-shake 
	font-size: 12px 
.footer-txt-thin 
	font-weight: 300 
	a 
		color: inherit 
		font-style: inherit 
		text-decoration: none 
body 
	background-color: #99E2D0 
.responsive-card 
	background-color: white 
.localisation 
	.position-ville 
		font-family: "Roboto" 
		font-weight: 400 
.teaser 
	display: flex 
	box-sizing: border-box 
	flex-direction: column 
	justify-content: center 
	align-items: center 
	flex-wrap: nowrap 
	padding: 1rem 3rem 5rem 3rem 
	gap: 1rem 
	background: #f6f6f6 
	.teaser-str 
		font-family: "Roboto" 
		font-weight: 700 
		font-size: 24px 
		text-align: center 
	.teaser-low 
		font-family: "Roboto" 
		font-weight: 300 
		font-size: 16px 
		text-align: center 
		margin-bottom: 20px 
.goal-txt 
	font-family: "Roboto" 
	font-weight: 700 
	font-size: 24px 
	padding: 2rem 2rem 0 2rem 
.goal 
	.goal-btn 
		.gl-btn-nb 
			position: relative 
			height: 25px 
			width: 25px 
			border-radius: 50% 
			background-color: #9356DC 
			left: 0% 
			transform: translate(-50%) 
			span 
				position: absolute 
				top: 50% 
				left: 50% 
				transform: translate(-50%, -50%) 
				color: white 
		.gl-btn-icon 
			color: #7e7e7e 
			font-size: 1.2rem 
		.gl-btn-txt 
			color: black 
			font-family: "Roboto" 
			font-weight: 700 
.goal-btn 
	&:hover 
		background: #fbfbfb 
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08), 0 12px 12px rgba(0, 0, 0, 0.08) 
		.gl-btn-icon 
			color: #FF79DA 
.restaurants 
	background-color: #f6f6f6 
	padding: 2rem 
	display: grid 
	width: 100% 
	gap: 2rem 
.restaurant-page-title 
	display: flex 
	justify-content: space-between 
	width: 100% 
	position: relative 
	margin-top: -25px 
	background-color: #f6f6f6 
	border-top-left-radius: 25px 
	border-top-right-radius: 25px 
	padding: 1rem 1.5rem 
	.rpt-txt 
		font-family: "Shrikhand" 
		font-weight: 400 
		font-size: 1.6rem 
.restaurant-page-body 
	background-color: #f6f6f6 
	padding: 1rem 
	display: flex 
	flex-direction: column 
	gap: 2rem 
	align-items: center 
.restaurant-page-titre 
	&::after 
		content: "" 
		display: block 
		margin-top: 0.3rem 
		width: 50px 
		border-bottom: 4px solid #99e2d0 
.restaurant-page-order 
	background-color: #f6f6f6 
	display: flex 
	justify-content: center 
	padding-top: 2rem 
	padding-bottom: 3rem 
.restaurant-page-entrees 
	width: 100% 
	max-width: 380px 
	animation: 2s forwards ease-in-out SlideUp 
.restaurant-page-plats 
	opacity: 0 
	animation: 2s forwards ease-in-out SlideUp 
	animation-delay: 0.5s 
	width: 100% 
	max-width: 380px 
.restaurant-page-desserts 
	opacity: 0 
	animation: 2s forwards ease-in-out SlideUp 
	animation-delay: 1s 
	width: 100% 
	max-width: 380px 
50% 
	opacity: 0.5 
100% 
	transform: translateY(0) 
	opacity: 1 
